- name: install repmgr package and some dependencies
  package: name=repmgr,rsync

- name: workaround repmgr binaries
  file: state=link path=/usr/local/bin/repmgr src=/usr/pgpure/postgres/current/bin/repmgr
